

<footer class="section-foot    " >
    <div class=" cont d-flex justify-content-around  h-100 align-items-center">
      <!--<div class="content"><a class="" routerLink="map"> خـريـطـة الـمـوقـع</a></div>-->
        <div class="content "><a class="" routerLink="about">عـن الـمـوقـع</a></div>
        <div class="content"><a class="" routerLink="contact">  اتـصـل بـنـا</a></div>
        </div>
       <!---
      </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>-->
      </footer>