<section>
    <div id="carouselExampleFade" class="carousel  carousel-fadeIn w-100 " data-ride="carousel" >
        
        <ol class="carousel-indicators ">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item main-carousel active"data-interval="500" >
                <img src="../../assets/images/carousel1.jpg" class="d-block w-100" alt="First Slide" >
                <div class=" caption cap-1 ">
                    <h3 class="m-3 anim-color"> اطمن</h3>
                    <p class="fadeInLeftUp">
                        تعمل لتوفير المعلومات الطبية والصحية الموثوقة والشاملة للقارئ أينما كان <br>، وتؤمن بحق الجميع في المعرفة والوصول إلى المعلومات بيسر وسهولة


                    </p>
                  </div>
            </div>

            <div class="carousel-item" data-interval="500">
                <img src="../../assets/images/carousel3.jpg" class="d-block w-100" alt="Second slide" >
                <div class=" caption cap-2 ">
                    <h3 class="m-3 anim-color"> اطمن</h3>
                    <p class="fadeInDown">
                        وتهدف من خلال موقعها لأن تكون منصة عربية متكاملة للتواصل بين المواطن العربي والجهات التي تعمل لتقديم الخدمات الطبية والصحية المختلفة ،
                        كالأطباء والعيادات والمستشفيات والصيدليات وشركات الأدوية وشركات التأمين والمختصين بتقديم أنواع العلاجات المختلفة والجمعيات والشركات العاملة في مجال التثقيف والتوعية الصحية وكل هيئة أو مؤسسة تسعى لخدمة المواطن العربي في مجال الصحة وتتفق مع قيم ويب طب المهنية والأخلاقية
                    </p>
                  </div>
            </div>

            <div class="carousel-item" data-interval="500">
                <img src="../../assets/images/carousel6.jpg" class="d-block w-100" alt="Third slide" >
                <div class=" caption cap-3 anim-color ">
                    <h3 class="m-3"> اطمن</h3>
                    <ul>
<li class="fadeIn first">
<p >احترام حقوق النشر والملكية الفكرية وأصول العمل المهني والأخلاقي.</p>
</li>
<li class="fadeIn second" >
<p>احترام الخصوصية الفردية وعدم الكشف عن أية معلومات خاصة بالمتصفحين لأية جهة.
</p>
</li>
<li class="fadeIn third">
    <p>
        مواكبة آخر التطورات العلمية وتحديث المضامين المنشورة باستمرار لتوفير أدق المعلومات وأحدثها.
    </p>
</li>
</ul>

                   
                  </div>
            </div>

            <div class="carousel-item" data-interval="500">
                <img src="../../assets/images/carousel2l.jpg" class="d-block w-100" alt="..." >
                <div class=" caption cap-3 anim-color">
                    <h3 class="m-3 anim-color"> اطمن</h3>
                    <p class="fadeInRightDown">
                        تنوّه ويب طب إلى أهمية السعي لمشورة الأطباء والأخصائيين الطبيين المؤهلين قبل البدء بأي علاج وعند مواجهة أي مشكلة طبية، حيث تعتبر المعلومات الواردة على موقع ويب طب ومنتجات ويب طب جميعها معلومات إرشادية تثقيفية ولا يقصد منها أن تكون بديلاً عن زيارة الطبيب واستشارته المهنية ولا يجب اعتبارها كذلك
                    </p>
                  </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>