@import '../colors';
@import '../animation';


.carousel ol li{
    background-color: blue;

}
.carousel-caption{
position: absolute;

bottom: 30% !important;

overflow: hidden;

background-color: rgba(156, 154, 154, 0.5) !important;
p{font-size: 1.15rem !important;
line-height: 2.2rem;
color: $bgColor;}
}

ul{
    direction: rtl;

 li{
     text-align: right;
 }
}

  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }

  @media (max-width:960px){
    .carousel-caption{
        position: absolute;
       
        bottom: 5% !important;

       
  }

}
  @media(max-width : 720px){
    .carousel-caption{
        padding-top: 0px !important;
        padding-bottom: 0px  !important;
    margin-top: 5px !important;
        p{font-size: 1rem !important;
        line-height: 1.2rem;
        color: $bgColor;}
        }
        
  }

  @media(max-width : 520px){

    .carousel-caption{
        padding-top: 0px !important;
        padding-bottom: 5px  !important;
    margin-top: 5px !important;
    margin-bottom: 5px;
        p{font-size: 0.7rem !important;
        line-height: 1rem;
        color: $bgColor;}
        }
    h3{
       font-size: 1p8x; 
    }
.cap-3{
    .item3{
        display: none;
    }
   
}
.p-2{
    display: none;
}
}