@import '../colors';
@import '../animation';
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
$main-text-size:20px;
$height:70px;


nav{
    direction: rtl;
    height: $height;

img{
    height: 65px !important;
}
.logo{
    position: fixed;
    top: 0;

right: 20px;
}
.container{
    justify-content: space-around !important;
 
}
    .navbar-brand{
        margin: 0;
        padding: 0;
        font-size: 40px;
       font-style: 'Changa';
       text-align: center;
    }
    .h1{
        color:$bgColor !important;
        text-align: center !important;
    }

ul{
    display: flex;
    justify-content: start !important;
    
}

.active{
    background-color:$primary-color;
    border: none;
}
.nav-item a:hover{
    color: $third-color !important;
}
.nav-link{
    font-size: $main-text-size;
 padding: 12px;
}
span{
    color:$second-color ;
    font-size: $main-text-size;
    font-weight: 400;
  
}


    .searchbar{
    margin:auto;
    height: 60px;
    background-color: $primary-color;
    border-width: $brdr-width;
    border-radius: $brdr-radius;
    padding: 10px;
   text-align: center;
   
   display: flex;
   justify-content: center;
   align-items: center;
    }

    .search_input{
    color: black;

    border-radius: $brdr-radius;
    border-width: 0px;
    border-left: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    text-align: center;
    }
    .search_icon{
        height: 40px;
        width: 50px;
     
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        text-decoration:none;
        }   
       
    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 350px;
    caret-color:rgb(102, 98, 98);
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color:$third-color;
    }

}

  .side-nav{
    
    .header-nav
    {
        position: fixed;
        top: 5px;
        right: 0;
        width: 60px;
        height: 100vh;
        z-index: 55555555;
        background-color: $secondColor;
        text-align: center;
        transition: all 0.6s ease;

    }
    .header-nav .logo
    {
        padding: 25px 0;
        color: $fourth-color;
    }
    .header-nav .logo:hover{
        color: $fontColor;

    }
    
    .header-nav i{
        cursor: pointer;
    }
    .header-nav .toggle-menu
    {
        position: absolute;
        top: 50%;
       right:20%;
        transform: translate(-50%,-50%);
    }
    .toggle-menu i
    {
        font-size: 25px;
        color: $fourth-color;
    }
    .toggle-menu i:hover{
        color: $fontColor;
    }
    .header-nav .social-icons
    {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        z-index: 11;
    }
    .social-icons div
    {
        padding-top: 10px;
    }
    .social-icons i:hover{
    color: $second-color;
    }
    
    
    .nav-menu
    {
        position: fixed;
        top: 5px;
        right: 0px;
        width: 250px;
        height: 100vh;
        z-index: 5555;
        background-color: $main-bg;
        transform: translateX(100%);
        transition: all 0.6s ease;
        
            h4{
                position: relative;
                text-align: center;
                background-color: $secondColor;
                color: $fontColor;
    

            }
        
    }
    .openMenu {
        transform: scale(1) !important;
    }
    
    .nav-item ul
    {
        padding-left: 30px;
        height: 300px;
        overflow: hidden;
    }
    li
    {
        list-style: none;
        transition: all 1.2s ease;
    }
    
    .nav-item ul a
    {
        color: $second-color;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        transition: color .3s;
        text-align: center;
    }
    .nav-item ul a:hover
    {
        color: $fourth-color;
    }
    li a:hover
  {
      color: #dc3545;
  }
  .social-item
  {
      position: absolute;
      bottom: 50px;
      left: 20px;
  }
  .social-item a
  {
      color: #f9f6f6;
      padding-left: 15px;
      font-size: 14px;
      text-decoration: none;
  }
  .social-item span
  {
      color: #999;
  }
  a:hover{
      color:#dc3545 ;
  }}
 
  @media(max-width:840px){
.navbar-brand{
    margin-right: 10px;
}  
}
  @media(max-width:767px){
      .collapse
      {
          background-color:$bgColor !important;
          z-index: 5555555555;
      
          margin-top: 2px;
          color: white !important;
          box-shadow: 7px 7px 15px grey;
          padding-bottom: 15px;;
          .navbar-nav .nav-item{
            margin-top: 25px;
                  }
            .nav-link{
                color: white;
            }
                  .nav-item a:hover{
                    color: $thirdFontColor !important;
                }
                   .navbar-toggler {
                   
                    background-color: transparent;
                    border-color: rgba(0, 0, 0, 0.4) !important;
                }
                .navbar-toggler-icon{
                    color: red !important;
                }
      }

  }

 @media(max-width:582px){
    .logo-img{
   margin: 0;
   padding: 0;
    }
     }
 @media(max-width:576px){
    .sh3ar{
    display:none;
    }
   /* .logo-img{
        margin: 0;
      position: absolute;
 top: -20px;
 right: 5px;
    }*/
     }