body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #e74c3c !important;
}

nav {
  direction: rtl;
  height: 70px;
  background-color: #f8f4f4;
}

.active {
  background-color: #b5d47e;
  border: none;
}

.nav-link {
  font-size: 20px;
}

span {
  color: #1a5bac;
  font-size: 20px;
  font-weight: 400;
}

.searchbar {
  margin: auto;
  height: 60px;
  background-color: #b5d47e;
  border-width: 30px;
  border-radius: 30px;
  padding: 10px;
  position: relative;
  right: 150px;
}

.search_input {
  color: black;
  border-radius: 30px;
  border-width: 0px;
  border-left: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 350px;
  caret-color: red;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #b5d47e;
}

.search_icon {
  height: 40px;
  width: 50px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
