
<nav class="navbar navbar-expand-sm   navbar-light  fixed-top ">
   
    <a class="navbar-brand " href="#"> 
  <img src="assets/images/logo.png" alt="Logo"   class="m-4 ">
    </a>
    <span class="mt-4  anim-color">   صحتك تهمنا </span>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="collapsibleNavId">
        <div class="container m-auto h-100">
            <div class=" h-100">
              <div class="searchbar">
                <input class="search_input mx-3" type="text" name="" placeholder="إبـحـث ">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </div>

        <ul class="navbar-nav  mr-auto ml-4 mt-lg-0">
           
            <li class="nav-item">
                <a class="nav-link ml-3 border  rounded-pill border-info" routerLink='login'>دخول</a>
                   
            </li>

            <li class="nav-item">
            <a class="nav-link ml-3 border  rounded-pill border-info" routerLink='sign'>التسجيل</a>
            </li>
        </ul>
        
    </div>

</nav>
<!---\
<nav class="navbar navbar-expand-sm  second-nav navbar-light ">
   


    <div class=" " >
   
        <ul class=" navbar-nav   flex-column  d-flex  justify-content-center align-items-center   ">
            <li class="nav-item active main list-group-item">
                <a class="nav-link " routerLink='home'>  الصفحة الرئيسية<span class="sr-only">(current)</span></a>
            </li>
         
            <li class="nav-item mt-4  list-group-item">
                <a class="nav-link  " routerLink='health' >صحتك</a>
            </li>
            <li class="nav-item mt-4 list-group-item">
                <a class="nav-link " routerLink='medicines'  >الأدوية</a>
            </li>
            <li class="nav-item mt-4 list-group-item">
                <a class="nav-link " routerLink='diseases'  >الأمراض الشائعة</a>
            </li>
            <li class="nav-item mt-4 list-group-item">
                <a class="nav-link "routerLink='search'>ابحث عن طبيب</a>
            </li>
          <!--  <li class="nav-item dropdown list-group-item">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">المزيد</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li> 
        </ul>
      
        
    </div>

</nav>-->
<section class="side-nav">
    <div class="header-nav">
      <div class="logo">
        <i class="fas fa-hospital-symbol fa-3x"></i>
      </div>
      <div class="toggle-menu" (click)="press()">
        <i class="fa fa-align-justify"></i>
      </div>
      <div class="social-icons">
        <div> <i class="fas fa-globe"></i> </div>
        <div> <i class="fas fa-share-alt"></i> </div>
      </div>
    </div>
  
    <div class="nav-menu">
      <div class="nav-item">
        <h4 class="p-3"> اطمن </h4>
      <ul class=" h-100 ">
            <li class="nav-item main  list-group-item">
                <a class="nav-link " routerLink='home'>  الصفحة الرئيسية<span class="sr-only">(current)</span></a>
            </li>
         
            <li class="nav-item mt-4 w-100 list-group-item">
                <a class="nav-link  " routerLink='health' >صحتك</a>
            </li>
            <li class="nav-item mt-4 w-100 list-group-item">
                <a class="nav-link " routerLink='medicines'  >الأدوية</a>
            </li>
            <li class="nav-item mt-4 w-100 list-group-item">
                <a class="nav-link " routerLink='diseases'  >الأمراض الشائعة</a>
            </li>
            <li class="nav-item mt-4 w-100 list-group-item">
                <a class="nav-link "routerLink='search'>ابحث عن طبيب</a>
            </li>
        </ul>
      </div>
     <!--- <div class="social-item">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fas fa-globe"></i></a>
        <div class="pt-3"><span>Copyright Â© 2019 All Rights Reserved.</span></div>
      </div>-->
    </div>
  </section>