
<nav class="navbar navbar-expand-sm   navbar-light  fixed-top ">
   
    <a class="navbar-brand " href="#"> 
  <img src="assets/images/logo.png" alt="Logo" style="width:120px;" class="m-4 ">
    </a>
    <span class="mt-4">   صحتك تهمنا </span>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="collapsibleNavId">
        <div class="container m-auto h-100">
            <div class=" h-100">
              <div class="searchbar">
                <input class="search_input mx-3" type="text" name="" placeholder="إبـحـث ">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </div>
          </div>

        <ul class="navbar-nav  mr-auto ml-4 mt-lg-0">
           
            <li class="nav-item">
                <a class="nav-link ml-3 border  rounded-pill border-info" href="#">دخول</a>
            </li>
            <li class="nav-item border rounded-pill border-info">
                <a class="nav-link " href="#">التسجيل</a>
            </li>
        </ul>
        
    </div>

</nav>

<nav class="navbar navbar-expand-sm  second-nav navbar-light ">
   


    <div class=" " >
   
        <ul class=" navbar-nav   flex-column  d-flex  justify-content-center align-items-center   ">
            <li class="nav-item active main list-group-item">
                <a class="nav-link " routerLink='home'>  الصفحة الرئيسية<span class="sr-only">(current)</span></a>
            </li>
         
            <li class="nav-item mt-4  list-group-item">
                <a class="nav-link  " routerLink='health' >صحتك</a>
            </li>
            <li class="nav-item mt-4 list-group-item">
                <a class="nav-link " routerLink='medicines'  >الأدوية</a>
            </li>
            <li class="nav-item mt-4 list-group-item">
                <a class="nav-link " routerLink='diseases'  >الأمراض الشائعة</a>
            </li>
            <li class="nav-item mt-4 list-group-item">
                <a class="nav-link "routerLink='search'>ابحث عن طبيب</a>
            </li>
          <!--  <li class="nav-item dropdown list-group-item">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">المزيد</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li> -->
        </ul>
      
        
    </div>

</nav>
