
<section class="login fadeOut">
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn fourth mt-3">
        <h4>تسجيل الدخول</h4>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="email" id="login" required class="fadeIn third" name="login" placeholder="البريد الالكتروني">
        <input type="password" id="password" required class="fadeIn second" name="login" placeholder="كلمة المرور">
        <input type="submit" class="fadeIn first" value="ادخل">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover fadeIn third" href="#">نسيت كلمة المرور</a>
      </div>
  
    </div>
  </div>
  </section>