
<section class="signUp fadeOut">
    <div class="wrapper fadeInDown ">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn fourth mt-3">
            <h4>تسجيل عضو جديد</h4>
          </div>
  
   <nav class="mt-4 fadeIn third ">
    <div class="nav nav-tabs nav-fill " id="nav-tab" role="tablist" >
      <a class="nav-item nav-link active" id="nav-doctor-tab" data-toggle="tab" href="#doctor" 
      role="tab" aria-controls="nav-doctor" aria-selected="true">طبيب</a>

      <a class="nav-item nav-link  " id="nav-visitor-tab" data-toggle="tab" href="#visitor"
       role="tab" aria-controls="nav-visitor" aria-selected="false">زائر</a>
    </div>
     </nav>

     <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <div class="tab-pane fade show active" id="doctor" role="tabpanel" aria-labelledby="nav-doctor-tab">
     
        <div class="container ">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input id="second-name" class="form-control" placeholder="الاسم الثاني " type="text">
             <!-- onkeyup="validateName()">
              <div id="validName" class="alert alert-danger" role="alert" style="display: none;">
                Your Name is not valid ..
              </div>-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input id="first-name" class="form-control" placeholder="الاسم الأول " type="text">
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <input id="country" class="form-control" placeholder="التخصص الفرعي " type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input id="email" class="form-control" placeholder="التخصص " type="email">
          
          </div>
        </div>
    </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
              <input id="country" class="form-control" placeholder="المدينة " type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input id="email" class="form-control" placeholder="الدولة " type="text">
          
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input id="age" class="form-control" placeholder="البريد الالكتروني "  type="number">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input id="sex" class="form-control" placeholder="الهاتف " type="email">
        </div>
      </div>
  </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input id="pass" class="form-control" placeholder="تأكيد كلمة المرور " type="password" >        
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input id="repass" class="form-control" placeholder="كلمة المرور " type="password">      
        </div>
      </div>
  </div>


      <div class="row">
        <div class="col-md-12">
          <input type="submit" class="fadeIn first" value="تسجيل">
        
      </div>
      
    </div>

        </div>

        </div>
        
        <div class="tab-pane fade show " id="visitor" role="tabpanel" aria-labelledby="nav-visitor-tab">
     
          <div class="container ">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input id="second-name" class="form-control" placeholder="الاسم الثاني " type="text">
               <!-- onkeyup="validateName()">
                <div id="validName" class="alert alert-danger" role="alert" style="display: none;">
                  Your Name is not valid ..
                </div>-->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input id="first-name" class="form-control" placeholder="الاسم الأول " type="text">
              </div>
            </div>
        </div>
  
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <input id="country" class="form-control" placeholder="الدولة " type="text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input id="email" class="form-control" placeholder="البريد الالكتروني " type="email">
            
            </div>
          </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input id="pass" class="form-control" placeholder="تأكيد كلمة المرور " type="password" >        
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input id="repass" class="form-control" placeholder="كلمة المرور " type="password">      
          </div>
        </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input id="age" class="form-control" placeholder="العمر *اختياري "  type="number">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input id="sex" class="form-control" placeholder="الجنس *اختياري " type="text">
        </div>
      </div>
  </div>
  
       
        <div class="row">
          <div class="col-md-12">
            <input type="submit" class="fadeIn first" value="تسجيل">
          
        </div>
        
      </div>
  
          </div>
  
          </div>
</div>        
      </div>

      </div>
      </section>