<section class="disease">
    <div class="wrapperr fadeInDown">
        <div class="formContentt">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn fourth m-4">
            <h3 class="">الأمـراض </h3>
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="search" required class="fadeIn second mb-3" name="search" placeholder="ابــــحـــــث">
            <input type="submit" class="fadeIn first" value="ابــحــث">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter" class="p-2">
           <p>  دليل الأمـراض يحتوي على معلومات عن المرض و أعراضه و كيفية علاجه</p>
          </div>
      
        </div>
      </div>

      <div class=" container container-fluid ">
        <div class="row">
         
          <div class="col-md-12 mb-3">

<div class="list d-flex flex-column justify-content-start align-items-start  " >
  <div class="p-3 item underlineHover  fadeInRightDown {
    ">
 <i class="fa fa-plus-circle  fa-2x ml-4"></i><a> اكثر الأمـراض انتشارا  </a>
 </div>
 <div class="p-3 item mb-4 underlineHover  fadeInRightDown {
  " >
  <i class="fa fa-plus-circle  fa-2x ml-4"></i><a> أمراض حسب الفئة </a>
</div>
</div>
          </div>

        </div>
      </div>

</section>