/* You can add global styles to this file, and also import other style files */

$main-text-size:20px;
$primary-color:#b5d47e;
$second-color:#1a5bac;
$third-color:#bf0000;
$fourth-color:#da661a;
$main-bg: rgb(248, 244, 244);

$brdr-radius:30px;
$brdr-width:30px;
