<section class="search">
    <div class="wrapperr fadeInDown">
        <div class="formContentt">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn fourth m-4">
            <h3 class="">ابـحـث عن طـبـيـب </h3>
          </div>
      
          <!-- Login Form -->
          <form>
              <div class="container ">
                  <div class="row ">
                      <div class="col-md-6 ">
                        <input type="text" id="search" required class="fadeIn second mb-3" name="search" placeholder="اختر التخصص">

            </div>
            <div class="col-md-6">
                <input type="text" id="search" required class="fadeIn second mb-3" name="search" placeholder="ابــــحـــــث">

            </div>
              </div>
           
            <div class="row">
                <div class="col-md-6">
      <input type="text" id="search" required class="fadeIn second mb-3" name="search" placeholder="المدينة">

      </div>
      <div class="col-md-6">
        <input type="text" id="search" required class="fadeIn second mb-3" name="search" placeholder="الدولة ">

          </div>
        </div>
     

      </div>
            <input type="submit" class="fadeIn first" value="ابــحــث">
          </form>
      
          <!-- Remind Passowrd 
          <div id="formFooter" class="p-2">
           <p>  دليل الأمـراض يحتوي على معلومات عن المرض و أعراضه و كيفية علاجه</p>
          </div>-->
      
        </div>
      </div>

      <div class=" container container-fluid ">
        <div class="row">
         
          <div class="col-md-12 mb-3">

<div class="list d-flex flex-column justify-content-start align-items-start  " >

<h5 class="p-4 item m-auto text-cenyet fadeInDown underlineHover w-100"> معلومات عن الأطباء</h5>

 <!---- <div class="p-3 item underlineHover  fadeInRightDown {
    ">
 <i class="fa fa-plus-circle  fa-2x ml-4"></i><a> اكثر الأمـراض انتشارا  </a>
 </div>
 <div class="p-3 item mb-4 underlineHover  fadeInRightDown {
  " >
  <i class="fa fa-plus-circle  fa-2x ml-4"></i><a> أمراض حسب الفئة </a>
</div>
</div>-->
          </div>

        </div>
      </div>
      </div>
</section>