@import '../colors';
@import '../animation';
@import '../formTypography';
section{
    
  background-image: url("../../assets/images/gettyimages-530727683.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;

}
.home{
}
.pragraph{
background-color:  rgba(20, 25, 37, 0.8);
color: #fff;

}
h6{
color: $fourth-color;
}
.special-p{
color:$fourth-color;

  font-size: 24px;
  font-weight: 400;

}
.mapp{
border-width: 3px;
}
.mapp:hover {
border: $fourth-color;
border-width: 5px;
}




