<!---
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
-->
<section>
  <div class="home">
<div class="container container-fluid">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <div class="pragraph text-center pt-3">
      <h6 class="display-4 ">أجهزة جسم الانسان</h6>
      <p class="lead">في هذه الصفحة توضيح لجميع أجهزة جسم الإنسان وأعضائه، اضغط على الجهاز او العضو الذي تودّ القراءة عنه، لتحصل على كافة المعلومات عن تركيبه ووظائفه والأمراض والفحوصات والمقالات المتعلقة به</p>
      <hr class="my-2">
      <p class="lead special-p pb-4"> اضغط على الجهاز المرغوب  </p>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
 
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
  <img src="../../assets/images/systems.png" alt="Workplace" usemap="#workmap" class="image-fluid pic" (click)="press($event)" >

<map name="workmap" >
  <area shape="circle" coords=" 385, 55 ,30"  class="mapp" href="#" alt="3sbi">
  <area shape="circle" coords=" 410, 145 ,30"  href="#" alt="mna3a">
  <area shape="circle" coords=" 432, 235 ,30"  href="#" alt="hadmi" >
  <area shape="circle" coords=" 450, 328 ,30"  href="#" alt="lmfawi" >
  <area shape="circle" coords=" 440, 420 ,30"  href="#" alt="el3'odad" >
  <area shape="circle" coords=" 398, 512 ,30"   href="#" alt="lo7afi">

  <area shape="circle" coords=" 180, 98 ,30"   href="#" alt="dawran">
  <area shape="circle" coords=" 120, 190 ,30"  href="#" alt="tnfosy">
  <area shape="circle" coords=" 96, 292 ,30"  href="#" alt="bawly" >
  <area shape="circle" coords=" 98, 398 ,30"  href="#" alt="tnasly" >
  <area shape="circle" coords=" 130, 502 ,30"  href="#" alt="3adly" >

</map>
</div>
<div class="col-md-2" ></div>

</div>

</div>
</div>

</section>