@import '../colors';
@import '../animation';
@import '../formTypography';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section{
    
  background-image: url("../../assets/images/gettyimages-530727683.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;

}
.home{
  background-color:  rgba(20, 25, 37, 0.8) !important;

}


.container {

color: #fff;

}

h6{
color: $fourth-color;
}
.special-p{
color:$fourth-color;

  font-size: 1.5rem;
  font-weight: 400;

}
.mapp{
border-width: 3px;
}
.mapp:hover {
border: $fourth-color;
border-width: 5px;
}

.pic{
margin-bottom: 30px;
}






.organs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  

}

@media(max-width:770px){
  body{
    font-size: 20px;
  }
  .pic{
    width: 90%;
  }

}

@media(max-width:630px){
  body{
    font-size: 12px;
  }
  .pic{
    width: 80%;
  }
  .container{
    justify-content: start;
  }

}
@media(max-width:500px){
  body{
    font-size: 12px;
  }
  .pic{
    width: 70%;
  }
  
}